---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import Creators from '../components/Creators.astro';
---

<Layout title="Welcome to Astro.">
	<!-- <div class="w-full h-[95vh] flex flex-col justify-center items-center text-white bg-gray-800 bg-gradient-to-r from-[#143266]">
		<p class="text-7xl font-bold">TBD</p>
		<p class="text-3xl font-light">(To be done)</p>
	</div> -->
	<!-- Cambiar fondo a gradiente -->
	<div class="mt-[54px] flex h-[100vh] flex-col justify-center items-center text-white py-24 gap-5">
		<p class="text-2xl font-semibold">Conoce a nuestros desarrolladores</p>
		<div class="flex flex-row justify-around items-center gap-5">
			<Creators
				imgLink='https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png'
				name="Andrés Felipe"
				description='Programador, generador de ideas, técnico de interfaz'/>
			<Creators
				imgLink='https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png'
				name="Brian Matheo"
				description='Programador, generador de ideas, técnico de interfaz'/>
		</div>
	</div>
</Layout>