---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="w-full h-[95vh] flex flex-col justify-center items-center text-white bg-gray-800 bg-gradient-to-r from-[#143266]">
		<p class="text-7xl font-bold">TBD</p>
		<p class="text-3xl font-light">(To be done)</p>
	</div>
</Layout>