---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import MainPageInfo from '../components/MainPageInfo.astro';

---

<Layout title="Welcome to Astro.">	
	<div class="mt-[54px] flex flex-col items-center justify-center gap-3 w-full bg-gray-800 h-[98vh] bg-gradient-to-r from-[#143266] text-white">
		<h1 class="text-8xl font-bold flex items-center justify-center gap-2">
			<Icon name="fluent:arrow-trending-lines-20-filled"/>
			InverTech
		</h1>
		<p class="text-4xl font-thin">Ahorros e Inversiones</p>
	</div>

	<div class="flex justify-center items-center w-[84%] bg-[#0d0f14] text-white py-24">
		<div class="flex flex-col justify-center items-center gap-5">
			<p class="text-4xl">Solución a problemas</p>
			<p class="font-light text-lg w-[400px] text-center">A través del análisis de la información proveida por el usuario, se produce información adicional y recomendaciones para el usuario</p>			
		</div>
		<!-- <img src={localImage.src} class="size-52"> -->
	</div>

	<div class="flex flex-row justify-around items-center w-[84%] pb-24 text-white">
		<MainPageInfo title="Entrada" contenido="El algoritmo recibe información acerca de las acciones económicas del usuario en el mes (Pasivos y Activos)"/>		
		<Icon name="fluent:arrow-right-12-regular" class="size-5" />
		<MainPageInfo title="Proceso + Análisis" contenido="La información anterior pasa por un conjunto de cálculos matemáticos, según el resultado de estos se obtiene información"/>
		<Icon name="fluent:arrow-right-12-regular" class="size-5" />		
		<MainPageInfo title="Salida" contenido="Se muestra por pantalla las diferentes conclusiones, consejos y recomendaciones para el usuario"/>
	</div>

	<div class="flex flex-col items-center justify-center gap-5 w-full pb-24 text-white">
		<Icon name="fluent:brain-circuit-24-regular" class="size-20"/>
		<p class="text-4xl">Algoritmo inteligente</p>
		<p class="font-light text-lg w-[400px] text-center">Utiliza información fiable de sitios web para ayudar a lograr un mejor manejo del dinero</p>
	</div>
	
	<div class="text-white flex flex-col justify-center items-center gap-3">
		<p>Adentrate a la aplicación</p>
		<a href="/inverTechLogin" class="hover:bg-[#0d0f14] hover:border-gray-300 hover:text-white transition-all duration-700
		
		
		
		flex border border-[#0d0f14] justify-center items-center space-x-2 bg-gray-200 text-gray-800 rounded-xl px-5 py-2">
			<p class="font-semibold">Pruebalo ahora</p>
			<Icon name="fluent:arrow-right-12-regular" class="size-4" />
		</a>
	</div>
</Layout>