---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
---

<Layout title="InverTech">
    <div class="mt-[114px] mb-[40px] w-[70vh] text-white h-[65vh] flex flex-col justify-center items-center border border-lg rounded-lg border-gray-300">
        <section class="border-b-gray-300 text-3xl font-bold border-b w-full h-1/5 text-center flex justify-center items-center">
            <p>Inicio Sesión</p>
        </section>
        <section class="w-full h-4/5 flex flex-col justify-around items-center">
            <a href="/inverTech" class="hover:bg-gray-200 hover:border-gray-800 transition-all duration-700 hover:text-gray-800 text-xl font-semibold rounded-lg border-gray-300 border px-10 py-2">Rol A</a>
            <a href="/inverTech" class="hover:bg-gray-200 hover:border-gray-800 transition-all duration-700 hover:text-gray-800 text-xl font-semibold rounded-lg border-gray-300 border px-10 py-2">Rol B</a>
            <a href="/inverTech" class="hover:bg-gray-200 hover:border-gray-800 transition-all duration-700 hover:text-gray-800 text-xl font-semibold rounded-lg border-gray-300 border px-10 py-2">Rol C</a>
        </section>
    </div>
</Layout>