---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import CurrencyInfo from '../components/CurrencyInfo.astro';
import BetterInput from '../components/BetterInput.astro';
---

<Layout title="">
	<div class="w-full mt-[54px] h-[95vh] flex flex-col justify-center items-center text-white bg-gray-600 bg-gradient-to-br from-[#143266] gap-3">
		<h1 class="text-8xl font-bold flex items-center justify-center gap-2">
			<Icon name="fluent:arrow-trending-lines-20-filled"/>
			InverTech
		</h1>
		<p class="text-3xl font-light">Bienvenido</p>
	</div>

    <!-- Definir moneda -->
    <div class="flex justify-center flex-col items-center my-14 gap-5">
        <h1 class="text-5xl font-semibold text-white py-2">Conversor de monedas</h1>
        <section class="flex justify-center items-center gap-10 w-full">
            <CurrencyInfo
                name="Moneda de partida"
                currencyName='currencyInfo'>
                <input type="number" class="text-xl px-5 appearance-none outline-none h-full w-full border-b-2" id="moneyInput">
            </CurrencyInfo>
            <CurrencyInfo
                name="Moneda de llegada"
                currencyName='currencyFinal'>
                <p id="displayFinalResult" class="overflow-hidden px-5 border-b-2 h-full w-full text-xl flex justify-start items-center">(Resultado)</p>
            </CurrencyInfo>
        </section>
        <!-- <button class="hover:bg-gray-200 hover:border-gray-800 transition-all duration-700 hover:text-gray-800 text-white border-gray-300 flex justify-around items-center gap-1 border rounded-md px-2 py-1" id="testButton">
            <p class="text-lg font-semibold">Refrescar</p>
            <Icon name="fluent:checkmark-12-filled" />
        </button> -->
    </div>

    <!-- Definir cantidad de personas y gastos (beta) -->
    <section class="flex flex-col justify-center items-center gap-2 mb-14">
        <section class="flex justify-center items-center gap-2 flex-row pb-2">
            <div class="flex justify-center items-center flex-col">
                <p class="text-white">Monto inicial</p>
                <input id="initialMoneyInput" class="appearance-none outline-none px-2 py-1" type="number">
            </div>
            <div class="flex justify-center items-center flex-col">
                <p class="text-white">Cantidad de personas</p>
                <input id="peopleAmountInput" class="appearance-none outline-none px-2 py-1" type="number">            
            </div>
            <div class="flex justify-center items-center flex-col">
                <p class="text-white">Gastos semanales</p>
                <input id="spendingsInput" class="appearance-none outline-none px-2 py-1" type="number">
            </div>
        </section>        
        <button id="updateReportButton" class="p-2 text-white flex justify-center items-center gap-1 border rounded-md border-gray-300">
            <p>Confirmar</p>
            <Icon name="fluent:checkmark-12-filled" />
        </button>
    </section>

    <section class="flex flex-col justify-center items-center gap-2">
        <section>
            <BetterInput title='Monto inicial' placeholderText='Ingrese su monto' inputId='initialMoneyAmount'>
        </section>
        <section class="flex flex-col justify-center items-center">
            <h1 class="text-white text-5xl mb-4">Gastos diarios</h1>
            <section class="flex flex-col justify-center items-center border rounded-md px-2 py-1">
                <h1 class="text-white text-2xl border-b w-full text-center ">Comidas</h1>
                <section class="py-1 flex flex-row justify-center items-center gap-2">
                    <BetterInput title="Desayuno" placeholderText='Ingrese el costo' inputId='foodBreak'/>
                    <BetterInput title="Almuerzo" placeholderText='Ingrese el costo' inputId='foodLunch'/>
                    <BetterInput title="Cena" placeholderText='Ingrese el costo' inputId='foodDinner'/>
                </section>
            </section>
            <div class="flex flex-row-reverse items-center justify-center border my-2 rounded-md p-2 gap-1">
                <h1 class="text-xl h-full text-white text-center flex justify-center items-center border-l pl-1" id="foodMonthlyResult">Resultado</h1>
                <button id="foodReportButton" class="text-white text-xl h-full flex flex-row gap-1 justify-center items-center">
                    <p>Obtener resultados</p>
                    <Icon name="fluent:checkmark-12-filled"/>
                </button>
            </div>
        </section>
        <section class="flex flex-col justify-center items-center">
            <h1 class="text-white text-5xl mb-4">Gastos mensuales</h1>
            <section class="flex flex-col justify-center items-center border rounded-md px-2 py-1">
                <h1 class="text-white text-2xl border-b w-full text-center ">Recibos</h1>
                <section class="py-1 flex flex-row justify-center items-center gap-2">
                    <BetterInput title="Agua" placeholderText='Ingrese el costo' inputId='billWater'/>
                    <BetterInput title="Electricidad" placeholderText='Ingrese el costo' inputId='billElec'/>
                    <BetterInput title="Gas" placeholderText='Ingrese el costo' inputId='billGas'/>
                    <BetterInput title="Internet" placeholderText='Ingrese el costo' inputId='billInternet'/>
                </section>
            </section>
        </section>
    </section>

    <script>

        // Part ONE
        // Almacena el valor de conversión
        const currencyArray = [3914, 17, 1, 0.9399, 156.22, 0.7986, 7.2411];
        const symbolArray = ["$ COP", "$ MXN", "$ USD", "€ EUR", "¥ JPY", "£ GBP", "¥ CNY"]

        // Botones e información
        const confirmCurrencyButton = document.querySelector("#confirmCurrencyButton");
        var currency = document.querySelector("#currencyInfo");
        var moneyAmount = document.querySelector("#moneyInput");
        var currencyFinal = document.querySelector("#currencyFinal");

        moneyAmount.addEventListener("change", refreshPrize)
        currency.addEventListener("change", refreshPrize)
        currencyFinal.addEventListener("change", refreshPrize)

        // Codigo que hace la conversión
        function refreshPrize() {
            const money = moneyAmount.value
            const currencyPicked = currency.value
            const toCurrency = currencyFinal.value
            document.querySelector("#displayFinalResult").innerHTML = (money*currencyArray[toCurrency]/currencyArray[currencyPicked]).toFixed(2) + " " + symbolArray[toCurrency]
        }

        // Part Two
        const initialMoneyInput = document.querySelector("#initialMoneyInput")
        const peopleAmountInput = document.querySelector("#peopleAmountInput")
        const spendingsInput = document.querySelector("#spendingsInput")
        const updateButton = document.querySelector("#updateReportButton")

        updateButton.addEventListener("click", () => {
            const valueToDisplay = initialMoneyInput.value - peopleAmountInput.value*spendingsInput.value*4
            if ( (initialMoneyInput.value <= spendingsInput.value) || (valueToDisplay <= 0)) {
                alert("Estás en deuda.")
                return
            }        
            alert(valueToDisplay)        
        })

        // Part Three
        document.querySelector("#foodReportButton").addEventListener("click", () => {
            const breakCost = parseFloat(document.querySelector("#foodBreak").value)
            const lunchCost = parseFloat(document.querySelector("#foodLunch").value)
            const dinnerCost = parseFloat(document.querySelector("#foodDinner").value)
            document.querySelector("#foodMonthlyResult").innerHTML = (breakCost + lunchCost + dinnerCost)*30
        })


        // initialMoney.addEventListener("change", () => {
        //     alert(initialMoney.value)
        // })

        

        // Legacy code

        // confirmCurrencyButton.addEventListener("click", () => {            
        //     var selectedCurrency = currency.options[currency.selectedIndex].text;
        //     var currencyPicked = currency.value;
        //     alert(currencyPicked)
        //     alert("Usted ha seleccionado: "+selectedCurrency)
        //     // currency.setAttribute("border-none", "");
        // });

        // const testButton = document.querySelector("#testButton");

        // testButton.addEventListener("click", refreshPrize)
        // testButton.addEventListener("click", () => {
        //     const money = moneyAmount.value
        //     const currencyPicked = currency.value
        //     const toCurrency = currencyFinal.value
        //     document.querySelector("#displayFinalResult").innerHTML = (money*currencyArray[toCurrency]/currencyArray[currencyPicked]).toFixed(3) + " " + symbolArray[toCurrency]
        //     // alert((money*currencyArray[toCurrency]/currencyArray[currencyPicked]).toFixed(3))
        // })

        // moneyAmount.addEventListener("change", () => {
        //     const money = moneyAmount.value
        //     const currencyPicked = currency.value
        //     const toCurrency = currencyFinal.value
        //     document.querySelector("#displayFinalResult").innerHTML = (money*currencyArray[toCurrency]/currencyArray[currencyPicked]).toFixed(3) + " " + symbolArray[toCurrency]
        // })
    </script>
</Layout>