---

import { Icon } from 'astro-icon/components';

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Ahorros e Inversiones" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>InverTech</title>
	</head>
	<body class="w-full flex items-center justify-center flex-col bg-[#0d0f14]">

		<div class="flex flex-col items-center justify-between w-[84%]  text-white py-3">
			<nav class="flex justify-between w-full px-[20px]">
				<a class="font-semibold text-lg flex items-center justify-center gap-1" href="/">
					<Icon name="fluent:arrow-trending-lines-20-filled" class="size-5"/>
					InverTech
				</a>	
				<ul class="inline-flex space-x-5">
					<li class="flex items-center"><a href="/">INICIO</a></li>
					<li class="flex items-center"><a href="/about">ACERCA</a></li>
					<li class="flex items-center"><a href="/doc">DOCUMENTACIÓN</a></li>
					<li class="flex items-center"><a href="/partners">COLABORADORES</a></li>
				</ul>				
			</nav>			
		</div>
 
		<slot />

		<footer class="w-[84%] text-white flex justify-around items-center p-5">
			<p class="font-semibold text-lg flex items-center justify-center gap-1">
				<Icon name="fluent:arrow-trending-lines-20-filled" class="size-5"/>
				InverTech
			</p>
			<p>©2024 - 192229 | 192219</p>
		</footer>

		<!-- <div class="flex flex-col items-center justify-center gap-3 w-full bg-gray-800 h-[95vh] bg-gradient-to-r from-[#143266] text-white">
			<h1 class="text-8xl font-bold flex items-center justify-center gap-2">
				<Icon name="fluent:arrow-trending-lines-20-filled"/>
				InverTech
			</h1>
			<p class="text-4xl font-thin">Ahorros e Inversiones</p>
		</div>

		<div class="flex flex-col items-center justify-center gap-2 w-full h-[50vh] p-10 text-white">
			<Icon name="fluent:brain-circuit-24-regular" class="size-20"/>
			<p class="text-2xl font-semibold">Algoritmo inteligente</p>
			<p class="text-lg w-[60vh] text-center">Utiliza información fiable de sitios web para proveer de información válida al usuario</p>
		</div>
		<div class="flex justify-between items-center w-[84%] bg-[#0d0f14] text-white p-5">
			<div>
				<p>InverTech: Ahorros e Inversiones</p>
				<p>InverTech consiste en un algoritmo el cual busca ayudar a personas y empresas con el manejo del dinero, mediante el análisis de información subministrada e información obtenida de fuentes fiables</p>			
			</div>
			<img src={localImage.src} class="size-52">
		</div> -->
		


	</body>
</html>